<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.name.label }} {{ form.name }}
        </div>
        <div>
            {{ form.password.label }} {{ form.password }}
        </div>
        <div>
            {{ form.submit }}
        </div>
    </form>
    {% for message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{ message[0] }}">{{ message[1] }}</div>
    {% endfor %}
</body>
</html>
